// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-blue: #2a2f37;
$dark-grey: #686665;
$grey: #8b8a89;
$light-grey: #adacab;
$salmon: #d37c7c;
$angry-salmon: rgba(211, 124, 124, 0.5);
$grey-white: #F0F0F0;
