  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media(max-width: 992px){
    .card {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media(max-width: 769px){
    .card {
      grid-template-columns: 1fr;
    }
  }
  div.text{
    text-align: center;
  }
