// Import page-specific CSS files here.
@import "home";
@import "show";

.index-form {
  margin: 0 auto;
  width: 100%;
}

.sticky-column {
  position: fixed;
}

.sort-dropdown {
  background-color: white;
  border: 1px solid $warning;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  padding: 8px 0;
  z-index: 1000;
  border-radius: 8px;
  right: 8px;
  .nav-item input {
    border: none;
    background-color: white;
    margin: 0;
    padding: 0 16px;
    text-align: left;
    width: 100%;
  }
  .nav-item input:hover{
    color: $warning;
    font-weight: bold;
  }

}
@media(max-width: 576px){
  .sticky-column {
    position: relative;
  }
}
