<div class="container mt-3">
<%= link_to user_path(current_user), class: "mt-3 text-secondary" do %>
  <i class="fas fa-arrow-left"></i> Back
<% end %>
<%= render 'shared/booking_form', booking: @booking %>
</div>
