<div class="art-piece-card-container">
  <div><%= cl_image_tag art_piece.photos.first.key, class: "card-img" %></div>
  <div class="art-piece-card-details">
    <h3><%= link_to art_piece.name, art_piece_path(art_piece) %></p></h3>
    <span><strong>£<%= art_piece.cost_per_day %>/day</strong></span>   
  </div>
  <p><%= art_piece.description %></p>
</div>
