<div class="text-end">
  <button class="sort-toggler btn btn-success btn-round pb-0" type="button" data-bs-toggle="collapse" data-bs-target="#sortSupportedContent" aria-controls="sortSupportedContent" aria-expanded="false" aria-label="Toggle sort">
    <i class="fas fa-caret-down"></i> Sort
  </button>
</div>
<div class="collapse sort-collapse" id="sortSupportedContent">
    <ul class="navbar-nav position-absolute sort-dropdown">
        <li class="nav-item">
          <%= submit_tag "Top Rated", class: "" %>
        </li>
        <li class="nav-item">
          <%= submit_tag "Price ascending", class: "" %>
        </li>
        <li class="nav-item">
          <%= submit_tag "Price descending", class: "" %>
        </li>
    </ul>
</div>
