<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<%# <p><span data-controller="typed-js"></span> %>
<html>
<body>
<div class = "navbar">
</div>
</head>
<div>
<br>
<br>
<br>

<div class ="container pt-3 text-center border-bottom">
 <img src="db/photos/homepagephoto.jpg" alt="homepagephoto" width= "100">
  <h2>Artify your home</h2>
  <p>Find beautiful Art to rent. Decorate your house with your favourite pieces based on the occasion.</p>
  <br>
   <a href="http://localhost:3000/show/" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Discover</a>
  <br>
  <br>
</div>
<%# <div>
<h2>Show me what is availeble...</h2>
<h2>From:</h2> <h2>To:</h2><a href ="" class = "btn btn-primary">Let^s go</a>
</div> %>
<br>
<br>
<br>
<br>
 <div class="container">
   <%# <div class= "col-12 col-lg-3 display:inline elements. mx-auto"> %>
    <div class= "cards-products d-flex justify-content-between">
      <div class ="card" style= "background-image:architecture">
         <%= @art_pieces.first.name%>
      </div>
      <div class ="card" style= "background-image:abstract">
        <%= @art_pieces.second.name%>
      </div>
      <div class ="card" style= "background-image:portrait">
        <%= @art_pieces.third.name%>
      </div>
  </div>
 </div>
</div>
<br>
<br>
<br>
<div class = "container border-top display: flex">
 <%# <div class="row justify-content-left p-3"> %>
   <div>
    <p>Get in touch</p>
    <p>email: artly@gmail.com<p>
   </div>
  <%# <div class="row justify-content-right p-3"> %>
  <div>
   <p>Happy homes</p>
  </div>
</div>
</div>
</body>
</html>
