.art-piece-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  color: $dark-blue;
} 

.art-piece-card-container {
  width: 400px;
  font-size: 18px;
  border: 0.5px solid $light-grey;
  background-color: rgba(255,255,255,.3);
   a {
    text-decoration: none;
   }
   p {
    padding: 8px;
    margin: 0px;
   }
}

.card-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.art-piece-card-details {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  height: 40px;
}