.art-piece-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  color: $dark-blue;
} 

.art-piece-card-container {
  width: 100%;
  font-size: 18px;
  background-color: rgba(255,255,255,.3);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
   a {
    text-decoration: none;
   }
   p {
    padding: 8px;
    margin: 0px;
   }
}

.card-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.art-piece-card-details {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  height: 40px;
}

@media(max-width: 992px){
  .art-piece-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 769px){
  .art-piece-cards-container {
    grid-template-columns: 1fr;
  }
}