.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 10vh;
  margin-top:0;
  padding:0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 10vh;
}

.navbar-lewagon a {
  margin: 0;
  padding: 0;
}
