.navbar-artly {
  justify-content: space-between;
  background: white;
  height: 10vh;
  margin-top:0;
  padding:0;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
}

.navbar-artly .navbar-collapse {
  flex-grow: 0;
}

.navbar-artly .navbar-brand img {
  height: 10vh;
}

.navbar-artly a {
  margin: 0;
  padding: 0;
}

a.menu-item {
  color: $secondary;
}
a.menu-item:hover {
  color: $primary;
}

.menu {
  padding: 8px;
}

.dropdown-format {
  right: 5px;
  background-color: white;
  border-radius: 9px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  line-height: 32px;
  border: 1px solid $warning;
}

.nav-item:hover {
  background-color: $transparent-orange;
}

.nav-item {
  padding: 4px 24px;
}
