.navbar-artly {
  justify-content: space-between;
  background: white;
  height: 10vh;
  margin-top:0;
  padding:0;
  position: sticky;
  width: 100%;
  top: 0;
}

.navbar-artly .navbar-collapse {
  flex-grow: 0;
}

.navbar-artly .navbar-brand img {
  height: 10vh;
}

.navbar-artly a {
  margin: 0;
  padding: 0;
}

a.menu-item {
  color: $secondary;
}
a.menu-item:hover {
  color: $primary;
}

.menu {
  padding: 8px;
}
